.navbar-default {
  background-color: rgb(128, 86, 214);
  border-color: rgb(173, 140, 222);
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: rgb(173, 140, 222);
}
.navbar-default .navbar-text {
  color: rgb(173, 140, 222);
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: rgb(203, 170, 252);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: rgb(173, 140, 222);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f4f7ff;
  background-color: rgb(60, 50, 74);
}
.navbar-default .navbar-toggle {
  border-color: rgb(173, 140, 222);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgb(173, 140, 222);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #cc92f8;
}

.navbar-static-top {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cc92f8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cc92f8;
    background-color: #cc92f8;
  }
}


.btn-primary {
  background-color: rgb(116, 104, 212);
  border-color: rgb(116, 104, 212);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: rgb(86, 74, 182);
  border-color: rgb(203, 170, 252);
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(128, 86, 214, 0.8);
    box-shadow: 0 1px 1px rgba(128, 86, 214, 0.075) inset, 0 0 8px rgba(128, 86, 214, 0.6);
    outline: 0 none;
}

a:hover {
  color: rgb(128, 86, 214);
}

a {
  color: rgba(128, 86, 214, 0.8);
}

.cover {
  display: inline-block !important;
}
@media (max-width: 767px) {
  .cover {
      display: none!important;
  }
}

.panel-purple {
  border-color: #8056D6;
}
.panel-title a:hover {
  color: #ecf0f1;
}
.panel-purple > .panel-heading {
  color: #ecf0f1;
  background-color: #8056D6;
  border-color: #8056D6;
}
.panel-purple > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #8056D6;
}
.panel-purple > .panel-heading > .dropdown .caret {
  border-color: #8056D6 transparent;
}
.panel-purple > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #8056D6;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: #ecf0f1; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}


.jumbotron {
	margin-bottom: 10px;
}

h2 {
	margin: 0 0 10px 0;
}

@media (max-width: 767px) {
  .avatar-following {
      display: none!important;
  }
}