{% extends "document.twig" %}

{% block content %}
<div class="jumbotron">
  <h1><i class="fa fa-warning"></i> Error 404 - Page Not Found</h1>
  <p>Oops. That's not supposed to happen...<br><br><strong>Please refresh the page and try again, or return to the previous page and follow the link again.</strong><br><br>If that doesn't help, please <a href="mailto:{{ support_email }}" target="_top">drop us an email</a> (with the page you're on, and how you reached it) and we'll look into what is wrong. Thanks!</p>
</div>

{% endblock %}
