<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@{{ user_handle() }} <b class="caret"></b></a>

    <ul class="dropdown-menu">
        <li><a href="{{ alpha_domain() ~ user_handle() }}" target="_blank"><i class="fa fa-adn"></i> Alpha Profile</a></li>

        <!-- <li class="divider"></li> -->

        <li><a href="/phplib/PurplappSignout.php"><i class="fa fa-sign-out"></i> Sign out</a></li>
    </ul>
</li>
