{% extends "document.twig" %}

{% block title %}Broadcast Tools - Purplapp{% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="page-header">
        <h1>Tools for Broadcast Channels</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="jumbotron">
      <h1>Broadcast Channel Lookup Tool</h1>
      <p>We made a neat little tool for looking up information on Broadcast channels. Enter in the channel ID and hit enter, and we'll give you some info on the latest posts from the channel.</p>
      <p><a href="/broadcast/lookup" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
</div>
{% endblock %}
