{% extends "document.twig" %}

{% block content %}
<div class="jumbotron">
    <h1><i class="fa fa-warning"></i> {{ block("title") }}</h1>
    {% block message %}
    <p>
        We are sorry, but something went terribly wrong.
    </p>

    <p>
        Unfortunately we cannot continue: so please refresh the
        page and try again, or return to the previous page.
    </p>
    {% endblock %}
</div>
{% endblock %}
