<div class="container">
    <div class="col-md-12">
        <hr>
        <p>
            &copy; Purplapp {{ "now"|date("Y") }}.

            <br>

            <a href="/about">About Us</a>
            &nbsp; - &nbsp;

            <a href="/static/images/imprint.png">Imprint</a>
            &nbsp; - &nbsp;

            <a href="/legal/privacy">Privacy</a>
            &nbsp; - &nbsp;

            <a href="/legal/terms">Terms of Service</a>
        </p>
    </div>
</div>
