{% extends "document.twig" %}

{% block content %}
<!-- Left Column -->
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Purplapp is an app for App.net statistics.</p>

  {% if is_guest() %}
  <p>
    <a href="{{ app.getAuthUrl() }}" class="btn btn-lg btn-social btn-adn">
        <i class="fa fa-adn"></i> Sign in with App.net
    </a>
  </p>
  {% endif %}

</div>

<div class="col-md-6">
    <h1>Features</h1>
    <h2>Account Features</h2>
    <p>
        <ul>
            <li>
                {% if not is_guest() %}<a href='./account/user.php'>{% endif %}
                    Find details on your account and your PCA Clubs.
                {% if not is_guest() %}</a>{% endif %}
            </li>
            <li>
                {% if not is_guest() %}<a href='./account/mention.php'>{% endif %}
                    Find the first mentions between two users.
                {% if not is_guest() %}</a>{% endif %}
            </li>
            <li>
                {% if not is_guest() %}<a href='./account/follow_comparison.php'>{% endif %}
                    Compare your followers with that of another user.
                {% if not is_guest() %}</a>{% endif %}
            </li>
        </ul>
    </p>

    <h2>Broadcast Features</h2>

    <p>
        <ul>
            <li>
                {% if not is_guest() %}<a href='./broadcast/lookup.php'>{% endif %}
                    See the most recent 5 updates in any Broadcast channel.
                {% if not is_guest() %}</a>{% endif %}
            </li>
        </ul>
    </p>

</div>

<!-- Right Column -->
<div class="col-md-6">
    <h1>Like what we've done?</h1>

    <p>
        Check us out on <a href="https://github.com/purplapp">GitHub</a>!
    </p>
    <p>
        It costs money to keep Purplapp going, and we want to continue bringing
        you new features we cannot currently. You can help us improve ADN by
        <a href='./donate.php'>donating!</a> :)
    </p>

    <p>
    <script id='fbz61pq'>
    (function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='http://api.flattr.com/button/view/?uid=jvimedia&button=compact&url=http%3A%2F%2Fpurplapp.eu';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbz61pq');
    </script>
    </p>

    <p>
        <strong>
            We need £30 a month to keep the servers going. Here's the progress
            towards our goal!
        </strong>
    </p>

    <p>
        <div class="progress progress-striped">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                10%
            </div>
        </div>
    </p>
</div>

{% endblock %}
