{% extends "document.twig" %}

{% block container %}container{% endblock %}

{% block navbar %}
    {% include "navbar.twig" %}
{% endblock %}

{% block title %}Tools - Purplapp{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="page-header">
        <h1>Tools for Accounts</h1>
    </div>
</div>

{% if is_guest() %}
<p class="lead">
    Want to use any of these? Hit "Sign in" above and get started!
</p>
{% endif %}


<div class="col-md-12">
    <div class="jumbotron">
        <h1>User Lookup Tool</h1>
        <p>
            We made a tool for looking up information on users. Enter in the
            username and hit enter, and we'll give you some info on that user.
        </p>

        {% if not is_guest() %}
        <p>
            <a href="{{ url("account_user") }}" class="btn btn-primary btn-lg" role="button">
                Learn more
            </a>
        </p>
        {% endif %}

    </div>
</div>

<div class="col-md-12">
    <div class="jumbotron">
        <h1>First Mention Tool</h1>
        <p>
            Ever wanted to see what the first mentions between two users were?
            Well, we'll show you the first mentions of each user by the other.
        </p>

        {% if not is_guest() %}
        <p>
            <a href="{{ url("account_mention") }}" class="btn btn-primary btn-lg" role="button">
                Learn more
            </a>
        </p>
        {% endif %}

    </div>
</div>

<div class="col-md-12">
    <div class="jumbotron">
        <h1>Following Comparison Tool</h1>
        <p>
            Want to follow more people? Enter in a username, and it'll show you
            up to 20 randomly selected users which they follow, but you don't.
        </p>

        {% if not is_guest() %}
        <p>
            <a href="{{ url("account_follow_comparison") }}" class="btn btn-primary btn-lg" role="button">
                Learn more
            </a>
        </p>
        {% endif %}

    </div>
</div>

<div class="col-md-12">
    <div class="page-header">
        <h1>Tools for Broadcast Channels</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="jumbotron">
      <h1>Broadcast Channel Lookup Tool</h1>
      <p>We made a neat little tool for looking up information on Broadcast channels. Enter in the channel ID and hit enter, and we'll give you some info on the latest posts from the channel.</p>
      <p><a href="/broadcast/lookup" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    </div>
</div>
{% endblock %}
