body { font-family: Arial, sans-serif; }
body {
      text-align: center; /* for ie6- */
    }

div#container {
      text-align: left; /* fix alignment for ie */
      margin: 0 auto;
      width: 700px; /* if you want the width to be fixed, set to whatever you want */
    }
    
</style>