body { font-family: Arial, sans-serif; }
h1 { font-family: Arial, sans-serif;}
h3 { font-family: Arial, sans-serif; font-style: italic; color:#808080;}
p.url { font-family: Arial, sans-serif;}
p.authurl { font-family: Arial, sans-serif;}
p.charljvim { font-family: Arial, sans-serif;}
p.bio { font-family: Arial; font-style: italic; sans-serif;}
p.bioheader { font-family: Arial, sans-serif;}
p.counts { font-family: Arial, sans-serif;}
p.pca { font-family: Arial, sans-serif;}
p.credits {font-family: Arial, sans-serif; font-style: italic; color:#808080; font-size:10px;}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

div.sub, iframe {
    margin: 0 auto;
    background-color: #FFFFFF;
}

body {
  text-align: center; /* for ie6- */
}

div#container {
  text-align: left; /* fix alignment for ie */
  margin: 0 auto;
  width: 700px; /* if you want the width to be fixed, set to whatever you want */
}

table {
  margin: 0 auto;
}

div#midway-horizontal{ 
	text-align: center;
}

div#pca {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

ul.pcatable {
    margin: auto;
    line-height: 1.4;
    padding: 0;
}

.pcatable li {
    display: block;
    text-align: center;
    padding: 0;
}
